*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222831;
    font-family: "Syne", serif;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.nav{
    height: 8vh;
    padding: 10px;
    background-color: #76ABAE;
    width: 95%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.nav div a{
    color: #222831;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: all 2s;
}

.nav div a:hover{
    position: relative;
    top: -10px;
}

.section1{
    margin-top: 30px;
    font-family: "Acme", serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section1 img{
    height: 300px;
    width: 300px;
    animation: head-img;
    animation-duration: 2s;
}

@keyframes head-img {
    from{
        transform: scale(0.1);
        opacity: 0;
    }

    to{
        transform: scale(1.0);
        opacity: 1;
    }
}

.section1 h1{
    font-size: 40px;
    color: #F7E7DC;
    letter-spacing: 2px;
    text-align: center;
    animation-name: head-text1;
    animation-duration: 2s;

}

@keyframes head-text1 {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.section1 h2{
    font-size: 35px;
    color: #F7E7DC;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    animation-name: head-text2;
    animation-duration: 2s;
}

@keyframes head-text2 {
    from{
        transform: translateX(200px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
    }
}

.section1 p{
    color: #F7E7DC;
    font-size: 25px;
    width: 500px;
    text-align: center;
    margin-top: 30px;
    animation-name: head-para;
    animation-duration: 2s;
    letter-spacing: 2px;
}

@keyframes head-para {
    from{
        transform: translateY(50px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.section1 .fa-angle-down{
    font-size: 30px;
    margin-top: 50px;
    color: #76ABAE;
    animation-name: head-icon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes head-icon {
    0%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.section2{
    margin-top: 50px;
    position: relative;
}

.section2 .head-txt h1{
    color: #76ABAE;
    font-size: 80px;
    opacity: 0.2;
    text-align: center;
}

.section2 .head-txt h2{
    position: absolute;
    top: 28px;
    left: 240px;
    font-size: 35px;
    color: #F7E7DC;
}

.section2 .mca{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 50px;
    animation-name: section2-ani;
    animation-timeline: view();
    animation-range: entry -10% cover 80%;
}

@keyframes section2-ani {
    from {
        opacity: 0;
        top: -70%;
    }

    to {
        opacity: 1;
        top: 10%;
    }
}

.section2 .mca i{
    font-size: 35px;
    color: #222831;
    background-color: #F7E7DC;
    padding: 10px;
    border-radius: 100px;
}

.section2 .mca .content :first-child{
    color: #222831;
    width: 150px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    font-size: 25px;
    background-color: #F7E7DC;
}

.section2 .mca .content :nth-child(2){
    color: #76ABAE;
    margin-top: 20px;
}

.section2 .mca .content :nth-child(3){
    color: #F7E7DC;
    font-size: 22px;
    margin-top: 20px;
}

.section2 .mca .content :last-child{
    color: #F7E7DC;
    font-size: 22px;
    margin-top: 20px;
}

.section2 .bcom{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 100px;
    animation-name: section2-ani;
    animation-timeline: view();
    animation-range: entry -10% cover 80%;
}

.section2 .bcom i{
    font-size: 35px;
    color: #222831;
    background-color: #F7E7DC;
    padding: 10px;
    border-radius: 100px;
}

.section2 .bcom .content :first-child{
    color: #222831;
    width: 150px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    font-size: 25px;
    background-color: #F7E7DC;
}

.section2 .bcom .content :nth-child(2){
    color: #76ABAE;
    margin-top: 20px;
}

.section2 .bcom .content :nth-child(3){
    color: #F7E7DC;
    font-size: 22px;
    margin-top: 20px;
}

.section2 .bcom .content :last-child{
    color: #F7E7DC;
    font-size: 22px;
    margin-top: 20px;
}


@media only screen and (min-width:375px) and (max-width:425px){
    .section1{
        overflow: hidden;
    }
    
    .section1 h1{
        font-size: 26px;
    }
    
    .section1 h2{
        font-size: 23px;
    }

    .section1 p{
        font-size: 20px;
        width: 350px;
    }

    .section2 .head-txt h1{
        font-size: 50px;
    }

    .section2 .head-txt h2{
        position: absolute;
        top: 15px;
        left: 100px;
        font-size: 25px;
    }

    .section2 .mca i{
        font-size: 20px;
        margin-left: 20px;
    }
    
    .section2 .mca .content :first-child{
        color: #222831;
        width: 125px;
        text-align: center;
        padding: 6px;
        border-radius: 20px;
        font-size: 20px;
        background-color: #F7E7DC;
    }
    
    .section2 .mca .content :nth-child(2){
        color: #76ABAE;
        margin-top: 20px;
        font-size: 20px;
    }
    
    .section2 .mca .content :nth-child(3){
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 20px;
    }
    
    .section2 .mca .content :last-child{
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 20px;
    }

    .section2 .bcom{
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-top: 100px;
    }
    
    .section2 .bcom i{
        font-size: 20px;
        margin-left: 20px;
    }
    
    .section2 .bcom .content :first-child{
        color: #222831;
        width: 125px;
        text-align: center;
        padding: 6px;
        border-radius: 20px;
        font-size: 20px;
        background-color: #F7E7DC;
    }
    
    .section2 .bcom .content :nth-child(2){
        color: #76ABAE;
        margin-top: 20px;
        font-size: 20px;
    }
    
    .section2 .bcom .content :nth-child(3){
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 20px;
    }
    
    .section2 .bcom .content :last-child{
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 20px;
    }
}

@media only screen and (min-width:426px) and (max-width:768px){
    .section1{
        overflow: hidden;
    }
    
    .section1 h1{
        font-size: 30px;
    }
    
    .section1 h2{
        font-size: 25px;
    }

    .section1 p{
        font-size: 20px;
        width: 350px;
    }

    .section2 .head-txt h1{
        font-size: 45px;
    }

    .section2 .head-txt h2{
        position: absolute;
        top: 13px;
        left: 215px;
        font-size: 25px;
    }

    .section2 .mca i{
        font-size: 25px;
        margin-left: 20px;
    }
    
    .section2 .mca .content :first-child{
        color: #222831;
        width: 150px;
        text-align: center;
        padding: 6px;
        border-radius: 20px;
        font-size: 25px;
        background-color: #F7E7DC;
    }
    
    .section2 .mca .content :nth-child(2){
        color: #76ABAE;
        margin-top: 20px;
        font-size: 25px;
    }
    
    .section2 .mca .content :nth-child(3){
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 25px;
    }
    
    .section2 .mca .content :last-child{
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 25px;
    }

    .section2 .bcom{
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-top: 100px;
    }
    
    .section2 .bcom i{
        font-size: 25px;
        margin-left: 20px;
    }
    
    .section2 .bcom .content :first-child{
        color: #222831;
        width: 150px;
        text-align: center;
        padding: 6px;
        border-radius: 20px;
        font-size: 25px;
        background-color: #F7E7DC;
    }
    
    .section2 .bcom .content :nth-child(2){
        color: #76ABAE;
        margin-top: 20px;
        font-size: 25px;
    }
    
    .section2 .bcom .content :nth-child(3){
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 25px;
    }
    
    .section2 .bcom .content :last-child{
        color: #F7E7DC;
        font-size: 18px;
        margin-top: 25px;
    }
}